@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}


.nav-right{
    display: flex;
    justify-content: space-between;
}

.nav-right > a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    margin-top: 100px;
}

form > h1{
    margin-bottom: 30px;
    font-size: 40px;
}

form > input{
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background-color: black;
    font-size: 16px;
    /* width: 80%; */
    margin: 20px 0;
}

button{
    margin-top: 30px;
    padding: 10px 20px;
    width: fit-content;
    font-size: 16px;
}

input:focus{
    outline: none;
}

::placeholder{
    color: white;
}


.profile{
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
}

.profile > h1, .profile > h2, .profile > button{
    margin-top: 40px;
}